  <main role="main" class="flex-shrink-0 mt-4">
    <div class="container">
      <div class="row mt-4">
        <div class="col-md-12 text-center">
          <img src="{{ site_url }}/assets/images/404.png" alt="" style="width: 100%; max-width: 250px;" class="mt-4 mb-4">
          <h1>We apologize for the troubles...</h1>
          <p>Unfortunately, the requested page was not found.</p>
          <a href="{{ referer }}" class="btn btn-lg btn-primary">Go back</a>
        </div>
      </div>

    </div>
  </main>
